.nav {
  &__wrapper {
    background-color: $primary-color;
    font-size: 1.4rem;
    color: $white;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
  }

  &__logo {
    font-size: 2rem;
    color: $white;
  }
}

.header {
  &__link-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    .dropdown__button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
