.banknotesListPage {
  &--noResult {
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    flex-wrap: wrap;
  }

  &__menu-filter-container {
    display: inline-block;
  }

  &__menu-filter {
    opacity: 0;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    z-index: 1;
    pointer-events: none;
    box-shadow: $shadow-medium;
    position: absolute;
    max-width: calc(100% - 10px);
    min-width: 300px;
    background: $white;
    padding: 1rem;
    border: 1px solid $primary-color;
    border-radius: 4px;
    max-width: 85rem;

    @include respond(tab-land){
      max-width: 70rem ;
    }

    @include respond(tab-port){
      max-width: calc(100vw - 1.05rem) ;
    }


    &-btn {
      display: inline-flex;
      align-items: center;
      margin: 1rem;
    }

    &--visible {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
      left: 1rem;
      overflow-y: auto;
      height: calc(100vh - 110px);
      overflow-x: hidden;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;

    &-reset {
      position: absolute;
      right: 20px;
      bottom: -1.1rem;

      @include respond(tab-land) {
        bottom: auto;
      }
    }
  }
}
