.preview {
  text-align: center;
  padding-bottom: 5rem;

  &__container {
    max-width: 680px;
    margin: 0 auto;
  }
  &__title {
    font-size: 2rem;
    letter-spacing: 0.03em;
    color: #2c2c2c;
    font-weight: 500;
  }

  &__value {
    color: $primary-color-gaudy;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.05em;
  }

  &__divider {
    width: 100%;
    display: block;
    margin: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__description {
    font-size: 1.5rem;
    font-weight: 300;
    white-space: pre-line;
  }

  &__specification {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 0.5rem;
    & > div {
      align-self: flex-start;
    }
  }

  &__label {
    font-size: 1.4rem;
    color: #777;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    font-weight: 300;

    &::first-letter {
      text-transform: uppercase;
    }

    &--own {
      display: flex;
      align-items: center;
      justify-content: center;

      .preview__element-value {
        display: flex;
        align-items: center;
        justify-content: center;

        &--owned {
          color: #75de5a;
        }

        &--not-owned {
          color: $danger-color;
        }

        svg {
          margin-right: 5px;
        }
      }
    }
  }

  &__element-value {
    color: #000;
    display: inline-block;
    padding-left: 8px;
    font-weight: 400;
  }

  &__countryFullName {
    font-size: 1.5rem;
  }
}
