.form {
  &--banknote {
    max-width: 1200px;
    margin: 0 auto;
    overflow: scroll;
    max-height: calc(100vh - 68px);
    overflow-x: hidden;
    box-shadow: $shadow-medium;
    background: #fff;
  }

  &--banknote &__control:not(.form__control--file) {
    width: 49%;
    display: inline-block;
    &:nth-of-type(even) {
      margin-left: 2%;
    }

    @include respond(tab-port) {
      width: 100%;

      &:nth-of-type(even) {
        margin-left: 0;
      }
    }
  }

  &--banknote &__group {
    &--elementary {
      .form__control {
        width: 32%;
        margin-left: 2%;

        &:nth-of-type(2) {
          margin-left: 0px;
        }

        &:first-of-type {
          width: 100%;
          margin-left: 0px;
        }

        @include respond(tab-port) {
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }

  &--banknote &__group {
    &--purchase {
      .form__control {
        width: 32%;
        margin-left: 2%;

        &:first-of-type {
          margin-left: 0px;
        }

        &:last-of-type {
          width: 100%;
          margin-left: 0px;
        }

        @include respond(tab-port) {
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }

  &--banknote &__group {
    &--appearance {
      .form__control {
        &:not(:nth-of-type(3)):not(:nth-of-type(4)) {
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }

  &--banknote__header {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
  }
}
