.card {
  background: $white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  height: 100%;

  &__bg {
    position: absolute;
    z-index: 0;
    left: 50%;
    opacity: 0.3;
    bottom: 42%;
    transform: translate(-50%);
  }

  &__top {
    padding: 2rem;
    padding-bottom: 0;
    color: #000;
    font-size: 1.4rem;
    font-weight: 300;
    z-index: 1;
  }
  &-container {
    height: 100%;
    &--banknote {
      grid-area: banknote;
    }

    &--continent {
      grid-area: continent;
    }

    &--country {
      grid-area: country;
    }

    &--user {
      grid-area: user;
    }

    &--favorite {
      grid-area: favorite;
    }
  }

  &__body {
    font-size: 1.5rem;
    padding: 2rem;
  }

  &__list {
    font-weight: 300;
    li {
      padding: 2px 0;
    }
  }

  &--user {
    background-image: $gradient-primary-light;
    color: #fff;
    text-align: center;
    .card__top {
      color: #fff;
    }
  }
}
