.collapse {
  &__container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

  &__trigger {
    padding: 1.2rem;
    font-size: 1.6rem;
    position: relative;
  }

  &__body {
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

    &--collapsed {
      max-height: 3000px;
      padding: 1.2rem;

    }
  }

  &__icon {
    position: absolute;
    display: inline-flex;
    top: calc(50% - 10px);
    right: 1.2rem;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    align-items: center;
    justify-content: center;

    &--rotated {
      transform: rotate(180deg);
    }
  }

  &--checkboxes {
    .collapse__body {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }
}
