.form {
  &__group {
    box-shadow: $shadow-medium;
    padding: 2rem;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__alert {
    color: red;
    position: absolute;
    font-size: 1.2rem;
    bottom: -3rem;

    &:not(:empty):before {
      content: " \2191";
      font-size: 2rem;
      padding: 0 1rem 0 0.5rem;
    }
  }

  &__control {
    position: relative;
    margin: 2rem 0;

    &--file {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2.5rem 0;
    }

    &--flex {
      display: flex;
      align-items: center;
    }

    &--sort {
      max-width: 400px;
      margin: 1.5rem;
      flex: 1 0;

      @include respond(phone) {
        max-width: 100%;
      }

      .form__select {
        font-size: 1.4rem;
        min-width: 24rem;
      }
    }
  }

  &__group-label {
    padding-bottom: 3rem;
    text-transform: capitalize;
    font-size: 1.6rem;
    color: $primary-color;
  }

  &__textarea {
    line-height: normal;
    overflow-y: hidden;
    resize: none;
    min-height: 12rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.5em;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 0;
    border: 1px solid #ced4da;

    &:focus {
      outline: 0;
      box-shadow: 0 1rem 2rem #0000001a;
      border: 1px solid $primary-color;

      &:invalid {
        border-bottom: 3px solid red;
      }
    }
  }

  &__select-label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(-8.6rem);
    position: absolute;
    text-transform: uppercase;
    &--selected {
      color: $primary-color;
    }
  }

  &__select {
    font-size: 1.5em;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 0;
    border: 1px solid #ced4da;
    width: 100%;
    display: block;
    transition: all 0.3s;
    font-family: inherit;
    color: inherit;

    &--mini {
      display: inline-block;
      width: auto;
      text-align: center;
    }

    &:focus {
      outline: 0;
      box-shadow: 0 1rem 2rem #0000001a;
      border: 1px solid $primary-color;
    }
  }

  &__input {
    font-size: 1.5em;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 0;
    border: 1px solid #ced4da;
    width: 100%;
    display: block;
    transition: all 0.3s;
    font-family: inherit;
    color: inherit;

    &:invalid {
      // pozwala określić wygląd niepoprawnie wyglądającego inputa
      border: 1px solid red;

      + .form__label {
        color: red;
        &:after {
          content: "!";
          color: red;
          position: absolute;
          right: 30px;
          top: 34px;
          font-size: 17px;
        }
      }
    }

    &:focus {
      outline: 0;
      box-shadow: 0 1rem 2rem #0000001a;
      border: 1px solid $primary-color;
      &:invalid {
        border: 1px solid red;
      }
    }

    &::-webkit-input-placeholder {
      color: #999;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(-8rem);
    position: absolute;
    color: $primary-color;
    text-transform: uppercase;
    width: 100%;
    &--textarea {
      top: -3.5rem;
      transform: none;
    }
    &--file {
      transform: translateY(-9rem);
    }
    &--flex {
      transform: translateY(-4.2rem);
    }
  }

  &__input:placeholder-shown + &__label {
    // ta pseudoklasa mówi co ma się dziać kiedy placeholder będzie widoczny (a input będzie jeszcze pusty)

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10rem);

    &--textarea {
      transform: none;
    }
  }

  &__radio-group {
    width: 49%;
    display: inline-block;
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 0.5rem solid $primary-color;
    border-radius: 50%;
    display: inline-flex;
    position: absolute;
    left: 0px;
    top: -4px;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      display: inline-block;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      background-color: $primary-color;
      //   @include posCenter;
      opacity: 0;
      transition: all 0.3s;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-input:checked ~ label &__radio-button:after {
    opacity: 1;
  }

  &__image {
    width: 140px;
  }

  &__image-file {
    max-width: 100px;
    max-height: 130px;
  }
}
