.list {
  &__element {
    display: grid;
    grid-template-rows: repeat(3, 33%);
    grid-template-columns: repeat(6, 16.6666%);
    grid-gap: 0.5rem;
    border-bottom: 1px solid #ccc;

    grid-template-areas:
      "title title title title title title"
      "imageFront imageFront value currency currency actions"
      "imageFront imageFront country issueYear issueYear actions";

    @include respond(phone) {
      grid-gap: 0.2rem;
    }

    &-icon {
      &--magnify {
        position: relative;
        padding-left: 5px;
        top: 5px;
        transform: scaleX(-1);
        display: inline-block;
      }
    }
  }

  &__label-link {
    display: flex;
    align-items: center;
    &:hover {
      color: $primary-color !important;
      path {
        fill: $primary-color !important;
      }
      .list__element-value {
        color: $primary-color;
      }
    }
  }

  &__imageFront {
    grid-area: imageFront;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    grid-area: title;
    background: whitesmoke;
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }

  &__country {
    grid-area: country;
  }

  &__currency {
    grid-area: currency;
  }

  &__value {
    grid-area: value;
  }

  &__issueYear {
    grid-area: issueYear;
  }

  &__actions {
    grid-area: actions;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__label {
    font-size: 1.4rem;
    color: #777;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__image {
    max-height: 80px;
    width: auto;
    display: block;
    max-width: 100%;
  }

  &__element-value {
    color: #000;
    display: inline-block;
    padding-left: 8px;
  }

  &--banknote {
    &:focus {
      outline: none;
    }
  }
}
