*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; // inherit from body
}
:root {
  font-size: 0.625em;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background: $primary-color-light;
  transition: all 0.2s;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary-color-dark1;
}

::selection {
  background-color: $secondary-color;
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex-container {
  display: flex;

  > * {
    flex: 1 0 0;
    padding: 0 0.5rem;
  }
}
